<main id="loginContainer"> 
    <h3 style="margin-top: 5px">Book Details</h3>
    <div>
        <h3><%= Book.title %></h3>
        <h4><%= Book.author %></h4>
    </div> 

    <div>
        <p><%= Book.body %><br></p>  
    </div>
</main>