<main id="loginContainer"> 
        <a href="/bookPresentation"><h3 class="titles">Book Titles</h3></a> 
        <br>
        <a href="newBook"><h3 class="titles">Enter a new book</h3></a>
        <br> 
        <a href="/poemPresentation"><h3 class="titles">Poem Titles</h3></a> 
</main>