<main id="loginContainer">
<form class='formContainer' action="users/login" method='POST'>
    <div id="login_item1">
        <label for="email">Email</label>
        <input type="email" name='email' placeholder='Enter Email'/>
    </div>
    <br>
    <div id="login_item2">
        <label for="password">Password</label>
        <input type="password" name='password' placeholder='Enter Password'>
    </div>
    <br>
    <button type='submit' id='loginButton'>Login</button>    <%- include ('./partials/messages') %>
    <br>
    <br>
    <p id="login_item3">No account yet? <a class='links' href="register"> Register</a></p>
    <br>
    <p  id="login_item4"> <a class='links' href="/">Index Page</a></p>
</form> 
</main>
